body {
	background: url("../assets/background.jpg") center center no-repeat;
	background-size: cover;
	opacity: 0.8;
	min-height: 100vh;
}

#root {
}

.App {
	text-align: center;
	padding: 5%;
}

.right-button {
	cursor: pointer;
	float: right;
}

.list-item {
	display: inline-block;
}
